{% extends 'base.html' %}

{% load staticfiles %}

{% block body_block %}

    <p>
        Web page written by Matthew Thomas Kelly.
    </p>

    <p>
        This is a Python Django powered site, with elements of Bootstrap.
    </p>
    <p>
        Submission of the search form utilises Python's beautiful soap, URL and JSON libraries.
    </p>
    <p>
        It was written as a tool to aid Police Officers in searching for items accross multiple auction websites
        and is easily adaptable to include further auctions sites than those currently supported.
        It has also been written in such a way to allow the web-scraping aspect to be simply amended in the event of target website structure changes.
    </p>

    <p>
        The code is available on the <a class="LI-simple-link" href="https://github.com/matthewthomaskelly">GitHub site of Matthew Thomas Kelly.</a>
    </p>
    <p>
        Originally published January 2018
    </p>

    <hr>
    <div align="center">
        <div class="LI-profile-badge"  data-version="v1" data-size="medium" data-locale="en_US" data-type="vertical" data-theme="light" data-vanity="matthewthomaskelly">
            <a class="LI-simple-link" href='https://uk.linkedin.com/in/matthewthomaskelly?trk=profile-badge'>Matthew Kelly</a>
        </div>
        <a class="LI-simple-link" href="https://github.com/matthewthomaskelly">GitHub profile</a>
    </div>

{% endblock body_block %}