<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>
        WebUtilities - {% block title %}Home{% endblock %}
    </title>
    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>

</head>

<body>
    
    <nav class="navbar navbar-default"></nav> <!-- Dummy nav bar -->

    <nav class="navbar navbar-inverse navbar-fixed-top bg-dark" style="background-color: #055677;">
        <div class="container-fluid">
            <div class="rowr">
                <div class="col-sm-1 col-md-1 sidebar">
                </div>
                <div class="col-sm-10 offset-sm-1 col-md-10 offset-md-1">
                    <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static "images/dogfish_brand_icon_400x400.png" %}" alt="MTK"></a>
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#twd_menu-item" aria-expanded="false"  style="background-color: #055677;">
                        <!--  Code for the hamburger icon-->
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- Anything inside of collapse navbar-collapse goes into the "hamburger" -->
                    <div class="collapse navbar-collapse" id="twd_menu-item">
                        <ul class="nav navbar-nav">
                            <li>
                                <a class="" href="{% url 'home' %}">Home</a>
                            </li>
                            <li>
                                <a class="" href="{% url 'search' %}">New Search</a>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a class="" href="{% url 'about' %}">About</a>
                            </li>
                        </ul>
                    </div>        
                </div>
                <div class="col-sm-1 col-md-1 sidebar">
                </div>
            </div>
        </div>
    </nav>    
    
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-1 col-md-1 sidebar">
                {% block left_sidebar_block %}
                {% endblock %}
            </div>
            <div class="col-sm-10 offset-sm-1 col-md-10 offset-md-1">
                {% block body_block %}
                {% endblock %}
            </div>
            <div class="col-sm-1 col-md-1 sidebar">
                {% block right_sidebar_block %}
                {% endblock %}
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'js/jquery-3.2.1.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{% static 'js/ie10-viewport-bug-workaround.js' %}"></script>

</body>
</html>