{% extends 'base.html' %}

{% load staticfiles %}
    

{% block body_block %}

    <h2>Search Auction sites:</h2>

    <form id="category_form" role="form" action="" method="post">
        {% csrf_token %}
        <table>
            {% for hidden_field in form.hidden_fields %}
                {{ hidden_field }}
            {% endfor %}

            {% for field in form.visible_fields %}
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-1 col-form-label">{{ field.label_tag }}</label>
                    <div class="col-sm-3">
                        {{ field }}
                    </div>
                    <div class="col-sm-8">
                        {% if field.help_text %}
                            <small class="form-text text-muted">{{ field.help_text }}</small>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}

            <button type="submit" class="btn btn-primary">Submit</button>
        </table>
    </form>

{% endblock %}