{% extends 'base.html' %}

{% block body_block %}

    <p> 
        This webpage was written as an to aid Police Officers relating to investigations of stolen good, to allow easy cross auction-site searches
        for specified items within a set distance of a relevant location. This is a standard line of enquiry for any investigation relating to stolen goods.
    </p>

    <p>
        To start a new search, select <a class="" href="{% url 'search' %}">New Search</a> and complete the necessary fields. (this is also available on the above navigation bar)
    </p>

    <p>
        Any queries regarding the site can be directed to the author via their Linked-In profile. For more information, please see the About tab.
    </p>

    <p>
        <strong>- Matthew</strong>
    </p>

{% endblock body_block %}